# DBF file to MySQL

## 1. Load DBF to Pandas DataFrame

In [1]:
import pandas as pd

pd.set_option('max_columns', 500)
# pd.set_option('max_rows', 10)

In [2]:
"""
Load content of a DBF file into a Pandas data frame.

The iter() is required because Pandas doesn't detect that the DBF
object is iterable.
"""

from dbfread import DBF

In [41]:
dbf = DBF('D:/temp/year2020.dbf')
df = pd.DataFrame(iter(dbf))

In [42]:
total_records = df.shape[0]
df.tail()

,ID,DATE,DAY,MONTH,NEW_MONTH,NEW_MONTH2,YEAR,DOW,TYPE_DAY,WEATHER,TEMPERATUR,SEASON,ABB,FEEDER,AREA,NIKOM,LINE,CB,TYPE_LINE,ABNORMAL,KV,UNIT,EVENT,FROM,TO,PERIOD,TO_DATE,AMP,NAMP,TO1,TO2,TO3,TO4,AMP1,AMP2,AMP3,AMP4,TOCB1,TOCB_DATE,TOCB2,TOCB3,TOCB4,NEW_CODE,GROUP,CODE,TYPE,NEPO_GROUP,OLD_DISTRI,DISTRICT,POLE,LATERAL,ROAD,RELAY,COMPONENT,DEVICE,DEV_TYPE,PHASE,FAULT_TYPE,TIMES,LENGTH,TIMEOCB,TIMEFUSE,TIMEREPAIR,KVA_HR,LOSS,MW,BATH,TIME_EQ,MAJOR,CONTROL
12592,1370,2020-09-30,30,9,9,9,2020,4,,N,0.0,,RT,RT-414,C,N,,,,,24.0,D,I,17:27,17:28,,2020-09-30,170,170,,,,,0,0,0,0,,2020-09-30,,,,051,F,020,TF,70.0,NaN,5,,RT414-1H,,"OCI-T,EFI-T,RR",C06,,,,,,0,1,0,0,166,142,0.00,36.71,1.0,,C
12593,1371,2020-09-30,30,9,9,9,2020,4,,N,0.0,,BU,BU-413,C,N,,,,,24.0,D,I,19:53,19:53,,2020-09-30,280,280,,,,,0,0,0,0,,2020-09-30,,,,011,F,020,TF,70.0,NaN,9,,,,"OCI,EFI-T,RR",,,,,,,0,0,0,0,0,0,0.00,0.00,0.0,,C
12594,1372,2020-09-30,30,9,9,9,2020,4,,N,0.0,,BZ,BZ-415,C,N,,,,,24.0,D,I,20:51,20:51,,2020-09-30,140,140,21:28,,,,56,0,0,0,,2020-09-30,,,,053,F,080,TF,40.0,NaN,8,,HT.73-034450,,"OCI-Y,RR",C20,,,Y,,,0,0,37,0,1009,862,0.00,222.83,14.8,,C
12595,1373,2020-09-30,30,9,9,9,2020,4,,N,0.0,,NH,NH-426,S,N,,,,,24.0,D,I,20:56,20:56,,2020-09-30,120,120,,,,,0,0,0,0,,2020-09-30,,,,011,F,020,TF,70.0,NaN,13,,,,"OCI-B,EFI-T,RR",,,,B,,,0,0,0,0,0,0,0.00,0.00,0.0,,C
12596,1374,2020-09-30,30,9,9,9,2020,4,,N,0.0,,RT,RT-425,C,N,,,,,24.0,D,I,21:56,21:56,,2020-09-30,275,275,,,,,0,0,0,0,,2020-09-30,,,,051,F,080,TF,40.0,NaN,5,,SOI LIEBKHLONG SONG,,"OCI,EFI,RR",C22,,,,,,0,0,0,0,0,0,0.00,0.00,0.0,,C

## 2. Change data type in each fields

In [ ]:
# import Javascript for working with browser
from IPython.display import Javascript
# Javascript("alert();")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12597 entries, 0 to 12596
Data columns (total 70 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          12597 non-null  int64
 1   DATE        12597 non-null  object
 2   DAY         12597 non-null  int64
 3   MONTH       12597 non-null  int64
 4   NEW_MONTH   12597 non-null  int64
 5   NEW_MONTH2  12597 non-null  int64
 6   YEAR        12597 non-null  int64
 7   DOW         12597 non-null  int64
 8   TYPE_DAY    12597 non-null  object
 9   WEATHER     12597 non-null  object
 10  TEMPERATUR  12597 non-null  object
 11  SEASON      12597 non-null  object
 12  ABB         12597 non-null  object
 13  FEEDER      12597 non-null  object
 14  AREA        12597 non-null  object
 15  NIKOM       12597 non-null  object
 16  LINE        12597 non-null  object
 17  CB          12597 non-null  object
 18  TYPE_LINE   12597 non-null  object
 19  ABNORMAL    12597 non-null  object
 20  KV          12592 non-null  float64
 21  UNIT        12597 non-null  object
 22  EVENT       12597 non-null  object
 23  FROM        12597 non-null  object
 24  TO          12597 non-null  object
 25  PERIOD      12597 non-null  object
 26  TO_DATE     9803 non-null   object
 27  AMP         12597 non-null  int64
 28  NAMP        12597 non-null  int64
 29  TO1         12597 non-null  object
 30  TO2         12597 non-null  object
 31  TO3         12597 non-null  object
 32  TO4         12597 non-null  object
 33  AMP1        12597 non-null  object
 34  AMP2        12597 non-null  object
 35  AMP3        12597 non-null  object
 36  AMP4        12597 non-null  object
 37  TOCB1       12597 non-null  object
 38  TOCB_DATE   9798 non-null   object
 39  TOCB2       12597 non-null  object
 40  TOCB3       12597 non-null  object
 41  TOCB4       12597 non-null  object
 42  NEW_CODE    12597 non-null  object
 43  GROUP       12597 non-null  object
 44  CODE        12597 non-null  object
 45  TYPE        12597 non-null  object
 46  NEPO_GROUP  12521 non-null  float64
 47  OLD_DISTRI  1 non-null      float64
 48  DISTRICT    12597 non-null  int64
 49  POLE        12597 non-null  object
 50  LATERAL     12597 non-null  object
 51  ROAD        12597 non-null  object
 52  RELAY       12597 non-null  object
 53  COMPONENT   12597 non-null  object
 54  DEVICE      12597 non-null  object
 55  DEV_TYPE    12597 non-null  object
 56  PHASE       12597 non-null  object
 57  FAULT_TYPE  12597 non-null  object
 58  TIMES       12597 non-null  object
 59  LENGTH      12597 non-null  object
 60  TIMEOCB     12597 non-null  int64
 61  TIMEFUSE    12597 non-null  int64
 62  TIMEREPAIR  12597 non-null  object
 63  KVA_HR      12597 non-null  int64
 64  LOSS        12597 non-null  int64
 65  MW          12597 non-null  object
 66  BATH        12597 non-null  float64
 67  TIME_EQ     12597 non-null  float64
 68  MAJOR       12597 non-null  object
 69  CONTROL     12597 non-null  object
dtypes: float64(5), int64(14), object(51)
memory usage: 6.7+ MB

### 2.1 DATE field to datetime

In [46]:
regex = r'([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))'
df[~(df['DATE'].astype(str).str.contains(regex))]['DATE'].unique()

array([], dtype=object)

In [31]:
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')
# df.info()
print(f'Total records : {total_records}')
print('NaT records : %d' %df[df['DATE'].isna()]['ID'].count())
print('Date records : %d' %df[~df['DATE'].isna()]['ID'].count())
print('SUM records : %d' %(df[df['DATE'].isna()]['ID'].count() + df[~df['DATE'].isna()]['ID'].count()))

Total records : 12597
NaT records : 0
Date records : 12597
SUM records : 12597

### 2.2 TO_DATE field to datetime

In [49]:
regex = r'([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))'
df[~(df['TO_DATE'].astype(str).str.contains(regex))]['TO_DATE'].unique()

array([None], dtype=object)

In [32]:
df['TO_DATE'] = pd.to_datetime(df['TO_DATE'], errors='coerce')
# df.info()
print(f'Total records : {total_records}')
print('NaT records : %d' %df[df['TO_DATE'].isna()]['ID'].count())
print('Date records : %d' %df[~df['TO_DATE'].isna()]['ID'].count())
print('SUM records : %d' %(df[df['TO_DATE'].isna()]['ID'].count() + df[~df['TO_DATE'].isna()]['ID'].count()))

Total records : 12597
NaT records : 2794
Date records : 9803
SUM records : 12597

In [13]:
# indexing = df[df['TO_DATE'].isna()].index
# print(indexing)
# df.loc[indexing, 'TO_DATE'] = None
# df.loc[indexing, 'TO_DATE']
# df[df['TO_DATE'].isna()]['ID'].count()

### 2.1 TOCB_DATE field to datetime

In [50]:
regex = r'([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))'
df[~(df['TOCB_DATE'].astype(str).str.contains(regex))]['TOCB_DATE'].unique()

array([None], dtype=object)

In [33]:
df['TOCB_DATE'] = pd.to_datetime(df['TOCB_DATE'], errors='coerce')
# df.info()
print(f'Total records : {total_records}')
print('NaT records : %d' %df[df['TOCB_DATE'].isna()]['ID'].count())
print('Date records : %d' %df[~df['TOCB_DATE'].isna()]['ID'].count())
print('SUM records : %d' %(df[df['TOCB_DATE'].isna()]['ID'].count() + df[~df['TOCB_DATE'].isna()]['ID'].count()))

Total records : 12597
NaT records : 2799
Date records : 9798
SUM records : 12597

In [37]:
df.dtypes.value_counts()

object            48
int64             14
float64            5
datetime64[ns]     3
dtype: int64

## 3. Check miss match data in each fields

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12597 entries, 0 to 12596
Data columns (total 70 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          12597 non-null  int64
 1   DATE        12597 non-null  datetime64[ns]
 2   DAY         12597 non-null  int64
 3   MONTH       12597 non-null  int64
 4   NEW_MONTH   12597 non-null  int64
 5   NEW_MONTH2  12597 non-null  int64
 6   YEAR        12597 non-null  int64
 7   DOW         12597 non-null  int64
 8   TYPE_DAY    12597 non-null  object
 9   WEATHER     12597 non-null  object
 10  TEMPERATUR  12597 non-null  object
 11  SEASON      12597 non-null  object
 12  ABB         12597 non-null  object
 13  FEEDER      12597 non-null  object
 14  AREA        12597 non-null  object
 15  NIKOM       12597 non-null  object
 16  LINE        12597 non-null  object
 17  CB          12597 non-null  object
 18  TYPE_LINE   12597 non-null  object
 19  ABNORMAL    12597 non-null  object
 20  KV          12592 non-null  float64
 21  UNIT        12597 non-null  object
 22  EVENT       12597 non-null  object
 23  FROM        12597 non-null  object
 24  TO          12597 non-null  object
 25  PERIOD      12597 non-null  object
 26  TO_DATE     9803 non-null   datetime64[ns]
 27  AMP         12597 non-null  int64
 28  NAMP        12597 non-null  int64
 29  TO1         12597 non-null  object
 30  TO2         12597 non-null  object
 31  TO3         12597 non-null  object
 32  TO4         12597 non-null  object
 33  AMP1        12597 non-null  object
 34  AMP2        12597 non-null  object
 35  AMP3        12597 non-null  object
 36  AMP4        12597 non-null  object
 37  TOCB1       12597 non-null  object
 38  TOCB_DATE   9798 non-null   datetime64[ns]
 39  TOCB2       12597 non-null  object
 40  TOCB3       12597 non-null  object
 41  TOCB4       12597 non-null  object
 42  NEW_CODE    12597 non-null  object
 43  GROUP       12597 non-null  object
 44  CODE        12597 non-null  object
 45  TYPE        12597 non-null  object
 46  NEPO_GROUP  12521 non-null  float64
 47  OLD_DISTRI  1 non-null      float64
 48  DISTRICT    12597 non-null  int64
 49  POLE        12597 non-null  object
 50  LATERAL     12597 non-null  object
 51  ROAD        12597 non-null  object
 52  RELAY       12597 non-null  object
 53  COMPONENT   12597 non-null  object
 54  DEVICE      12597 non-null  object
 55  DEV_TYPE    12597 non-null  object
 56  PHASE       12597 non-null  object
 57  FAULT_TYPE  12597 non-null  object
 58  TIMES       12597 non-null  object
 59  LENGTH      12597 non-null  object
 60  TIMEOCB     12597 non-null  int64
 61  TIMEFUSE    12597 non-null  int64
 62  TIMEREPAIR  12597 non-null  object
 63  KVA_HR      12597 non-null  int64
 64  LOSS        12597 non-null  int64
 65  MW          12597 non-null  object
 66  BATH        12597 non-null  float64
 67  TIME_EQ     12597 non-null  float64
 68  MAJOR       12597 non-null  object
 69  CONTROL     12597 non-null  object
dtypes: datetime64[ns](3), float64(5), int64(14), object(48)
memory usage: 6.7+ MB

### 2.1 Weather

In [98]:
# df.loc[0:5, 'WEATHER'] = 'S'
indexList = df[~df['WEATHER'].isin(['N', 'R'])].index
if len(indexList):
    print(df.loc[indexList, 'WEATHER'])
    df.loc[indexList, 'WEATHER'] = 'N'
    print(df.loc[indexList, 'WEATHER'])
else:
    print('Weahter data are complete.')

Weahter data are complete.

### 2.2 ABB

In [99]:
df['ABB'].unique()

array(['BBO', 'BI', 'KE', 'KM', 'RD', 'NKT', 'AZ', 'SN', 'NS', 'YK', 'HK',
       'SE', 'TWN', 'SI', 'BMU', 'KMS', 'NH', 'SP', 'EKC', 'KUS', 'BPA',
       'BPP', 'JW', 'STW', 'RTR', 'GK', 'KKM', 'PR', 'KJ', 'BCN', 'PE',
       'SR', 'WT', 'MC', 'TY', 'TH', 'BRY', 'RTB', 'DM', 'RH', 'MN', 'MB',
       'M3', 'DDG', 'SS', 'LK', 'SB', 'NCN', 'JRN', 'KSK', 'BZ', 'MM',
       'SA', 'RK', 'NK', 'BD', 'BO', 'PA', 'BB', 'NR', 'RC', 'KU', 'SV',
       'TT', 'MS', 'BG', 'KT', 'SY', 'KI', 'TB', 'BKE', 'BU', 'NJT',
       'LPG', 'EM', 'MG', 'BTR', 'RT', 'PP', 'CK', 'CTJ', 'LP', 'RN',
       'SG', 'WPC', 'BA', 'SL', 'PK', 'KP', 'ST', 'SRH', 'PN', 'WKP',
       'BM', 'BP', 'KNY', 'BJ', 'SSA', 'LYA', 'YNW', 'LN', 'PO', 'LPT',
       'PC', 'SAM', 'ONT', 'TK', 'SYI', 'TBR', 'BAT', 'PI', 'BN', 'KO',
       'TBN', 'KSC', 'PPG', 'BC', 'BRG', 'SWG', 'STT', 'BPT', 'KRI', 'WB',
       'PJ', 'SU', 'LSI', 'PWE', 'BPI', 'PS', 'NLG', 'CPI', 'PTS', 'PPL',
       'MMR', 'SO', 'NN', 'CG', 'MA', 'PTN', 'CL', 'KWS', 'SM', '', 'KRT',
       'BY', 'BKD', 'KS', 'BS', 'PYA', 'BR', 'SKT', 'BOT', 'WL', 'TPT',
       'BK', 'WKS', 'LB', 'RPR', 'TTT', 'VDT', 'PD', 'TS', 'SD', 'PM',
       'SRS', 'RDT', 'SIT', 'CLT', 'JWT', 'SRK', 'YT', 'M1'], dtype=object)

In [143]:
df[(df['ABB'] == 'TT') & (df['FEEDER'] == '')]
# pd.crosstab(df['FEEDER'], columns='COUNT')

Empty DataFrame
Columns: [ID, DATE, DAY, MONTH, NEW_MONTH, NEW_MONTH2, YEAR, DOW, TYPE_DAY, WEATHER, TEMPERATUR, SEASON, ABB, FEEDER, AREA, NIKOM, LINE, CB, TYPE_LINE, ABNORMAL, KV, UNIT, EVENT, FROM, TO, PERIOD, TO_DATE, AMP, NAMP, TO1, TO2, TO3, TO4, AMP1, AMP2, AMP3, AMP4, TOCB1, TOCB_DATE, TOCB2, TOCB3, TOCB4, NEW_CODE, GROUP, CODE, TYPE, NEPO_GROUP, OLD_DISTRI, DISTRICT, POLE, LATERAL, ROAD, RELAY, COMPONENT, DEVICE, DEV_TYPE, PHASE, FAULT_TYPE, TIMES, LENGTH, TIMEOCB, TIMEFUSE, TIMEREPAIR, KVA_HR, LOSS, MW, BATH, TIME_EQ, MAJOR, CONTROL]
Index: []

In [40]:
regex = r'([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))'
df[~df['DATE'].astype(str).str.contains(regex)]['DATE'].unique()

array([], dtype='datetime64[ns]')